// COLORS
$color-primary: #01137a;
$color-primary-light: #2c22bb;
$color-primary-dark: #0a034e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


//font variables ..
 
$display-font:'Overpass', sans-serif;
$header-font: 'Fira Sans Condensed', sans-serif;
$display-font-2:'Patrick Hand', cursive;

