.features {
    background-color: rgba($color-primary,0.8);
    border-radius: 10rem;
    border-left: 3rem solid red;
    grid-row:3/4;
    grid-column: center-start/center-end;
    display: grid;
    margin: 15rem 0;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    
    grid-gap: 7rem;
    align-items: start;

   @include respond (phone) {
    border-radius: 0;
    border: none ;
   }
}

.feature {
    display:grid;   
    
    //grid-template-rows: repeat(6,1fr);
  
    //grid-row-gap:3rem;
    // height: 100%; 
    grid-row-gap: 3rem;  
    background-color:$color-grey-dark-2;
    box-shadow: 0rem 1rem 1rem rgba($color-black,0.4);
    border-radius: 2rem;
    overflow: hidden;
    &__img {
        grid-row: 1/2;
        grid-column: 1/-1;
        width: 100%; 
       // height: 100%;
       // object-fit: contain;
        transition: all 0.6s;
        background-position: top;
        backface-visibility: hidden;
        border-top-left-radius:2rem ;
        border-top-right-radius:2rem ;
        
        &:hover {
           transform:scale(1.2);  
        }
    
    }

    &__heading{
        background-color: $color-primary-dark;
        // width: auto;
        // margin: 0 auto;
        padding: 1rem;
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: end;
        width:100%;
        justify-self: center;
        text-align:center;
        transform:translateY(100%); 
        

        
    }



    &__author { 

        margin-top: 3rem;
        font-size: 1.5rem;
        font-family: $display-font-2;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr); 
        &::before,&::after {
            content: "";
            display:block;
            height: 1px; 
            background-color: black;
            align-self: center;
        }
       
        &::before {
            grid-column: 1/2;
        }
        &::after {
            grid-column: 3/-1;
        }


    }
    &__description {
        font-size: 1.8rem;
       
        //justify-self: start;
        grid-row: 3/4;
        text-align: center;

        margin-bottom: 1rem;
        
        

    } 
    &__btn { 
        width: 100% !important;
        border-bottom-left-radius:2rem !important ;
        border-bottom-right-radius:2rem !important ;

        grid-column: 1/-1;
    }
}