.gallery {
    background-color: $color-grey-dark;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    border-right: 1rem solid $color-black;
    border-left: 1rem solid $color-black;
    grid-row:4/5;
    grid-column: full-start/full-end;

    display:grid;
    grid-template-columns: repeat(9,minmax(min-content,1fr));
    grid-template-rows: repeat(10,10vw); 
    grid-gap: 1.5rem;
    padding: 1.5rem;
  
    &__item {
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 1rem 1rem rgba($color-black,0.5);

        &--1 {
            grid-row: 1/span 2;
            grid-column: 1/span 3;
        }

        &--2 { 
            grid-row: 1/span 3;
            grid-column: 4/5;
        }
        &--3 {
            grid-row: 1/span 2;
            grid-column: 5/span 4;
        }

        &--4 {
            grid-row: 3/span 2;
            grid-column: 1/span 2;
        }
        &--5 {
            grid-row: 3/span 2;
            grid-column: 5/6;
        }
        &--6 {
            grid-row: 3/span 2;
            grid-column: 6/span 2;
        }
        &--7 {
            grid-row: 3/span 2;
            grid-column: 8/span 2;
        }
        &--8 {
            grid-row: 4/span 2;
            grid-column: 4/5;
        }
        &--9 {
            
            grid-row: 7/-1;
            grid-column: 1/span 2;  
        }
       
      
        &--10 {
             
            grid-row: 5/7;
            grid-column: 7/-1;   
        }
        &--11 {
             
            grid-row: 9/span 2;
        }
        &--12 {
             
            grid-row: 7/-1;
            grid-column: 3/5;   
        }
        &--13 {
             
            grid-row: 5/7;
            grid-column: 1/4;   
        }
        &--14 {
             
            grid-row: 6/7;
            grid-column: 4/5;   
        }
        &--15 {
            grid-row: 7/-1;
            grid-column: 6/span 2;
        }
        
        &--16 {
             
            grid-row: 7/span 2;
            grid-column: 5/6;   
        }
        &--17 {
             
            grid-row: 5/span 2;
            grid-column: 5/7;    
        }
       
        &--18{
          
            grid-row: 3/span 2;
            grid-column: 3/4; 
        }
        &--19 {
            grid-row: 1/span 2;
            grid-column: 9/-1;
        }
        &--20 {
            grid-row: 1/span 2;
            grid-column: 9/-1;
        }
        &--21 {
            grid-row: 9/span 2;
           
        }


        &--22 {
            grid-row: 7/span 2;
            grid-column: 8/-1;
        }
        &--23 {
            grid-row: 9/-1;
            grid-column: 5/6;
           
        }



    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        backface-visibility: hidden;
        transition: all 0.5s;
        
        filter: brightness(80%);
        &:hover {
            transform:scale(1.1);
            filter: brightness(100%);
        }
    }
    
    &__btn {
        display: none;
    }
}

@include respond(phone) {
    .gallery{
    grid-template-columns: minmax(min-content,1fr);
    grid-template-rows: repeat(5,1fr) min-content;  
    &__item {
        
        display: none;
       
        &--1 {
        display:initial;
        grid-row: 1/2;
        grid-column: 1/span 2;
        }
        &--2 {
        display: initial ;
        grid-row: 2/3;
        grid-column: 1/ span 2 ;
        }
        &--3 {
            display: initial ;
            grid-row: 3/4;
            grid-column: 1/ span 2 ;
        }
        &--4 {
            display: initial ;
            grid-row: 4/5;
            grid-column: 1/ span 2 ;
        }
        &--5 {
            display: initial ;
            grid-row:5/6;
            grid-column: 1/ span 2 ;
        }
      


      
        // &--3 {
        //     grid-row: 1/span 2;
        //     grid-column: 1/span 3;
        // }

            

    }
    &__btn {
        margin-top: 3rem;
        display: block;
        justify-self: center;
        align-self: center;
    }
}
}